extends layout.pug

block content
   h2 Hello!
   
   h4 Welcome to #{name}!

   p There’s one quick step you need to complete before  gaining full access to your account. Let’s make sure this is the right address we should use for your new account.
   
   br

   p Please enter this verification code on our 
      span
      a(href=`${config.urls.verify}`) verification page.
      span
   
   h1= code
      
   p Thanks, #{name}.