extends layout.pug

block content
   p There was a request to reset your password! Please enter this verification code on the 
      span
      a(href=`${config.urls.forgot}`) forgot password page.
      span
   
   h1= code