extends layout.pug

block content
   h2 #{username}, your account has been activated.

   h4 Welcome to Qlaryty, your journey begins here and now.
   
   p There’s one quick step you need to complete before creating your Qlaryty account. Let’s make sure this is the right email address for you — please confirm this is the right address to use for your new account.
   
   p Please enter this verification code to get started on Qlaryty.
   
   h1= verification
   
   p Verification codes expire after two hours.
   
   p Thanks, Qlaryty.